:root {
  --main-color: #435CDB;
}
.App {
  text-align: center;
 color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.goals-container{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
}
.goal-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  
  Button{
    margin-right: 20px;
    background-color: var(--main-color);
    border-radius: 20px;
    border:#131313;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 134px;
    height: 41px;
    color: white; 
    font-size: 20px;
    cursor: pointer;
  }
}

.progress-container{
  background-color: #303030;
border-radius: 40px;
min-height: 243px;
min-width: 406px;
margin-bottom: 30px;
#progress{
  display: flex;
  margin-left: 40px;
  font-size: 20px;
}
#tracker{
  font-size: 12px;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 40px;
}
}

.progress-header{
display: flex;
flex-direction: row;
justify-content: space-between;


h3{
  font-size: 20px;
  margin-left: 40px;
  margin-right: 40px;
}
}

.progress-bar{
  margin-left: 40px;
  margin-right: 40px;
  width: auto;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(75, 75, 75);

}

.progress-bar-fill{
  height: 100%;
  border-radius: 20px;
  background-color: var(--main-color);
  transition: width 0.5 ease-out;
}

.tasks-container{
  background-color: #303030;
border-radius: 10px;
min-height: 243px;
min-width: 406px;
margin-top: 30px;
}

.tasks-header{
  
  background-color: var(--main-color);
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
  h1{
   margin-left: 20px; 
   font-size: 20px;
  }
}

.tasks-list{
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
  flex-direction: column;
  align-items: start;
}
.checkbox{
  width: 20px;
    height: 20px;
    background-color:transparent;
    border-radius: 50%;
    vertical-align:sub;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

.completed{
  background-color:var(--main-color);
}

.task{
  margin-bottom: 10px ;
}